* {
  box-sizing: border-box;
}

.blue-bg {
  background-color: rgb(6, 102, 212);
}

.red-bg {
  background-color: rgb(219, 26, 13);
}

.green-bg {
  background-color: rgb(25, 207, 71);
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.m-auto {
  margin: 0 auto;
}

.pos-abs {
  position: absolute;
}

.btn1 {
  padding: 20px 0;
  text-transform: uppercase;
  text-align: center;
  color: rgb(241, 234, 234);
  font-weight: bold;
  cursor: pointer;
}

.form-container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.267);
  animation-name: show;
  animation-duration: 1.5s;

  .form {
    padding: 25px;
    background-color: rgb(246, 248, 248);
    border-radius: 5px;
    flex-wrap: wrap;

    .user-form {
      margin-bottom: 25px;
      font-size: 20px;

      .player {
        padding-bottom: 10px;
      }

      .input {
        margin-top: 10px;
      }
    }
  }
}

.game-container {
  width: 100%;

  .game-board {
    flex-wrap: wrap;

    .cell {
      width: 33.3%;
      height: 200px;
      border: 1px solid black;
    }
  }

  .main-controller {
    .start-btn {
      background-color: rgb(6, 102, 212);
    }

    .new-btn {
      background-color: rgb(25, 207, 71);
    }

    .quit-btn {
      background-color: rgb(219, 26, 13);
    }
  }
}

@keyframes show {
  from {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }

  to {
    background-color: rgba(0, 0, 0, 0.267);
    opacity: 1;
  }
}
